---
import Card from "@/components/Card.astro";
import Layout from "../layouts/Layout.astro";

// Fetch homepage feed
const data = await fetch("https://cms.theadhocracy.co.uk/posts.json", {
	method: "GET",
	headers: {
		"content-type": "application/json",
		Authorization: `Bearer ${import.meta.env.CRAFT_API_KEY}`,
	},
});
const response = await data.json();
---

<Layout>
	<section id="about" class="h-card">
		<a class="u-url u-uid" href="https://theadhocracy.co.uk" rel="me">
			<img
				class={"profile_photo u-photo"}
				src="https://cms.theadhocracy.co.uk/assets/theadhocracy/website/profile-photo-square.jpg"
				alt="Murray (site owner) wearing shades and raising a single eyebrow."
			/>
		</a>
		<h1>oh hi!</h1>
		<p>
			I'm afraid you've stumbled into the personal playground of <span
				class="p-name">Murray Champernowne.</span
			>
		</p>
		<p class="p-note">Ad hoc thoughts from an ad hoc mind!</p>
	</section>
	<section id="content">
		<header>
			<h1>What I'm Up To</h1>
		</header>
		<main class="content-grid">
			{
				response.data.map((post: any, index: number) => (
					<Card key={index} post={post} />
				))
			}
			<a href="/articles/">Explore?</a>
		</main>
	</section>
</Layout>
