---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Search">
	<main id="content">
		<header>
			<h1>Archives</h1>
		</header>
		<section>
			<!-- <Search searchIndex="theAdhocracy_Feed" /> -->
		</section>
	</main>
</Layout>
