---

---

<header id="header">
	<a href="/">
		<img
			src="https://cms.theadhocracy.co.uk/assets/theadhocracy/website/Logos/adhoc-face.svg"
			alt="Stylised, cartoon version of Murray's face."
		/>
		<h1>theAdhocracy</h1>
	</a>
</header>
<nav id="nav">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/articles">Articles</a>
		</li>
		<li>
			<a href="/journal">Journal</a>
		</li>
		<li>
			<a href="/notes">Notes</a>
		</li>
		<li>
			<a href="/reviews">Reviews</a>
		</li>
		<li>
			<a href="/search">Search</a>
		</li>
	</ul>
</nav>
