---
const { value } = Astro.props;
---

<span
	class:list={[value > 5 && "superb"]}
	role="img"
	aria-label={`Rated ${value} out of 5`}
>
	{"⭐".repeat(value)}
	{value % 1 !== 0 ? "½" : null}
</span>

<style>
	.superb {
		font-size: 0.85rem;
	}
</style>
